body {
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}

h1 {
    font-family: 'Sacramento', cursive;
    margin-top: 0;
    font-size: 50px;
}

h2 {
    font-family: 'Pangolin', cursive;
    font-size: 50px;

}

h3 {
    font-family: 'Pangolin', cursive;
    font-size: 50px;

}

.top-container {
    background-color: #ddf3f5;
    padding-top: 100px;
    position: relative;
    text-align: center;
}

.bottom-cloud {
    left: 300px;
    position: absolute;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}
.img-hobbies{
    width: 400px;
}
